<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    {% if user.is_authenticated %}
    <title>Notation des apprentis - {{ user.get_full_name }} - {{ user.get_profile.get_user_type_display }}</title>
    {% else %}
    <title>Notation des apprentis</title>
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/print.css" media="print" />
</head>
<body>
    {% if messages %}
    <ul class="messagelist">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <div id="navigation">
      {% if user.is_authenticated %}
      <b><a href="{% url notation.views.profil %}">{{ user.get_full_name }} ({{ user.get_profile.get_user_type_display }})</a></b> /
      <a href="{% url notation.views.motdepasse %}">modifier votre mot de passe</a> /
      <a href="{% url notation.views.index %}">page d'accueil</a> /
      <a href="{% url django.contrib.auth.views.logout %}">déconnexion</a>
      {% if user.get_profile.is_administratif %}
      <form id="recherche" action="" method="post">{% csrf_token %}
      <input type="text" maxlength="40" name="chaine" id="chaine"/>
      <input type="hidden" name="_search" value="Aller" />
      </form>
      {% endif %}
      {% endif %}
    </div>
    <div id="contenu">{% block content %}{% endblock %}</div>
    <div id="pied">
      v1.6.9
      propulsée par <a href="http://www.djangoproject.com/">django</a> |
      réalisée par <a href="http://www.octets.fr/">octets</a> |
      <a href="mailto:webmaster@formation-industries-fc.fr">contact</a>
      {% if user.is_staff %}
       | <a href="/admin/">administration</a>
      {% endif %}
    </div>

    <div id="entete">
      <div class="contenugauche">
	<a href="{% url notation.views.index %}"><img style="margin-left:5em" src="/static/images/{{ logo|default:"logo-itii.png"}}" style="vertical-align:top; margin-top:6px"/></a>
      </div>
      <div class="contenudroit">
	<a href="{% url notation.views.index %}"><img style="float:right; margin-right:5em" src="/static/images/logo-pole-formation.png" width="160" height="171"/></a>
      </div>
    </div>
</body>
</html>
