<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    {% if user.is_authenticated %}
    <title>Notation des apprentis - {{ user.get_full_name }} - {{ user.get_profile.get_user_type_display }}</title>
    {% else %}
    <title>Notation des apprentis</title>
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/media/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
</head>
<body>
    <div id="entete"><a href="{% url notation.views.index %}"><img src="/static/images/logo-cfai.jpg" width="225" height="100"/><img src="/static/images/logo-ensmm.jpg" width="398" height="80"/></a></div>
    <div id="navigation">
       <ul>
          {% if user.is_authenticated %}
	  <li><b>{{ user.get_full_name }}</b> / <a href="{% url notation.views.motdepasse %}">Modifier votre mot de passe</a> / <a href="{% url django.contrib.auth.views.logout %}">Déconnexion</a></li>
	  {% endif %}
       </ul>
    </div>
    <div id="contenu">{% block content %}{% endblock %}</div>
    <div id="pied">
      v0.1
      propulsé par <a href="http://www.djangoproject.com/">django</a> | 
      réalisé par <a href="http://www.octets.fr/">octets</a>
      {% if user.is_staff %}
       | <a href="/admin/">administration</a>
      {% endif %}
    </div>
</body>
</html>
