{% extends "base.html" %}
{% block content %}

<h1>Assistance</h1>
<div id="soustitre">
<a href="{% url notation.views.index_admin %}">retour à l'accueil</a>
</div>

{% for frm in formations %}
<h2>Formation {{ frm }}</h2>
{% for grille in frm.grillenotation_set.all %}
{% if grille.nom_promotion_courante  %}
<div class="actions" style="margin-left: 5%;">
<a href="{% url resume_grille grille.id grille.annee_promotion_courante %}">Apprentis {{ grille.nom_promotion_courante }}</a>
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endblock %}
