{% extends "base.html" %}
{% block content %}

<h1>Gestion</h1>
<div id="soustitre">
<a href="{% url notation.views.index_admin %}">retour à l'accueil</a>
</div>

<div class="actions">
  <div><a class="button" href="{% url liste_entreprise %}">Les entreprises</a></div>
  <div><a class="button" href="{% url liste_eleve %}">Les apprentis</a></div>
  <div><a class="button" href="{% url liste_formateur %}">Les chargés de promotion</a></div>
  <div><a class="button" href="{% url liste_tuteur %}">Les tuteurs entreprises</a></div>
  <div><a class="button" href="{% url liste_bulletin %}">Les bulletins de notes</a></div>
</div>
{% endblock %}
