{% extends "base.html" %}
{% block content %}

<h1>Les bulletins de mes apprentis</h1>
<div class="table">
<ul>
  {% for blt in bulletins %}
  <li><a href="{% url notation.views.bulletin blt.id %}">{{ blt }}</a></li>
  {% endfor %}
</ul>

{% if enlecture.count %}
<h1>Les bulletins consultables</h1>
<ul>
  {% for blt in enlecture %}
  <li><a href="{% url notation.views.bulletin blt.id %}">{{ blt }}</a></li>
  {% endfor %}
</ul>
{% endif %}

</div>


<div class="actions">
{% if not user.get_profile.is_formateur %}
    <a class="button" href="{% url index_assistance %}">Synthèse</a>
{% endif %}
{% if user.get_profile.is_pilote %}
    <a class="button" href="{% url index_gestion %}">Gestion</a>
{% endif %}
</div>
{% endblock %}
