{% extends "base.html" %}
{% block content %}

{% if user.get_profile.is_administratif %}
<h1>Menu administration</h1>
{% else %}
<h1>Menu pilotage</h1>
{% endif %}
<div class="actions">
  <div class="contenugauche">
    <a class="button" href="{% url index_gestion %}">Gestion</a>
    <p>Accès aux données administratives</p>
  </div>
  <div class="contenudroit">
    <a class="button" href="{% url index_assistance %}">Synthèse</a>
    <p>Accès aux tableau récapitulatifs et aux fiches de compétence des apprentis</p>
  </div>
</div>
{% endblock %}
