{% extends "base.html" %}
{% block content %}

<h1>{{ bulletin }} / {{ bulletin.grille.promotion|add:annee }} - {{ bulletin.grille.promotion|add:annee|add:1 }}</h1>
<div id="soustitre">
<a href="{% url notation.views.bulletin bulletin.id %}">retour au choix de l'année</a>
</div>

<ul>
{% for ensemble in ens %}
  <li><a href="{% url notation.views.ensemble_bulletin bulletin.id annee ensemble.id %}">{{ ensemble }} ({{ ensemble.capacite_set.count }})</a></li>
{% endfor %}
</ul>

<h1>Les savoirs êtres</h1>
<form action="" method="post">{% csrf_token %}
  <table>
  {{ form }}
  <tr><th></th><td>
    <input type="submit" value="Enregistrer" />
  </td></tr>
  </table>
</form>

<h1>Résultats à ce jour</h1>
  <table style="width:300px">
  <tr><th>Moyenne qualité : </th><td>{{ moyenne_cp }}</td></tr>
  <tr><th>Moyenne savoir être : </th><td>{{ moyenne_sv }}</td></tr>
  <tr><th>Moyenne générale : </th><td>{{ moyenne_ng|floatformat:2 }}</td></tr>
  </table>
{% endblock %}
