{% extends "base.html" %}
{% block content %}

<h1>Bulletin de {{ bulletin.eleve.get_profile.nom_complet }} / Année {{ bulletin.grille.promotion|add:annee }} - {{ bulletin.grille.promotion|add:annee|add:1 }}</h1>
<div id="soustitre">
<a href="{% url notation.views.bulletin bulletin.id %}">choix de l'année</a>
</div>
<form action="" method="post">{% csrf_token %}
  <table>
    {% for field in thform %}
    <tr><th>
      {{ field.label_tag }}
      <ul>
	{% for ens in field.field.ensembles %}
	<li><a href="{% url notation.views.ensemble_bulletin bulletin.id annee ens.id %}">{{ ens }}</a></li>
	{% endfor %}
      </ul>
    </th><td>
      {% if field.errors %}
      <ul class="errorlist">
	{% for error in field.errors %}
	<li>{{ error|escape }}</li>
	{% endfor %}
      </ol>
      {% endif %}
      {{ field }}
      {% if field.help_text %}
      <br><span>{{ field.help_text|escape }}</span>
      {% endif %}
      <br><br>{{ field.field.prc }}% d'évaluations renseignées
    </td></tr>
    {% endfor %}

{% if user.get_profile.is_tuteur or user.get_profile.is_administratif %}
  <tr><th></th><td>
    <input name="themes" type="submit" value="Enregistrer" />
  </td></tr>
{% endif %}  
  </table>
</form>


<h1>Les savoirs êtres</h1>
<form action="" method="post">{% csrf_token %}
  <table>
  {{ form }}
    
{% if user.get_profile.is_tuteur or user.get_profile.is_administratif %}
  <tr><th></th><td>
    <input type="submit" value="Enregistrer" />
  </td></tr>
{% endif %}
  
  </table>
</form>

<h1>Résultats à ce jour</h1>
  <table style="width:300px">
  <tr><th>Moyenne qualité : </th><td>{{ moyenne.0.valeur_cp|floatformat:2 }}</td></tr>
  <tr><th>Moyenne savoir être : </th><td>{{ moyenne.0.valeur_sv|floatformat:2 }}</td></tr>
  <tr><th>Moyenne générale : </th><td>{{ moyenne.0.valeur_gn|floatformat:2 }}</td></tr>
  </table>
{% if bulletin.auteur_modification %}
  <p>Dernière modification du bulletin par {{ bulletin.auteur_modification.get_full_name }} le {{ bulletin.date_modification }}.</p>
{% endif %}
{% endblock %}
