{% extends "base.html" %}
{% block content %}

<h1>{{ bulletin }}</h1>
<p><a href="?format=xls">Fichier excel pour</a> le bulletin complet</p>
<ul>
  {% for annee in annees %}
  <li><a href="{% url notation.views.annee_bulletin bulletin.id annee %}">Année {{ bulletin.grille.promotion|add:annee }} - {{ bulletin.grille.promotion|add:annee|add:1 }}</a></li>
  {% endfor %}
</ul>
{% if bulletin.auteur_modification %}
  <p>Dernière modification du bulletin par {{ bulletin.auteur_modification.get_full_name }} le {{ bulletin.date_modification }}.</p>
{% else %}
  <p>Aucune saisie n'a été faite sur ce bulletin</p>
{% endif %}
</br>

<h1>{{ bulletin.eleve.get_profile.nom_complet }}</h1>
<table>
    <tr><td><b>Adresse électronique</b></td><td><a href="mailto:{{ bulletin.eleve.email }}">{{ bulletin.eleve.email }}</a></td></tr>
    <tr><td><b>N° de téléphone</b></td><td>{{ bulletin.eleve.get_profile.phone_number }}</td></tr>
    <tr><td><b>Tuteur</b></td><td>{{ bulletin.tuteur.get_profile.nom_complet }} / <a href="mailto:{{ bulletin.tuteur.email }}">{{ bulletin.tuteur.email }}</a> / {{ bulletin.tuteur.get_profile.phone_number }}</td></tr>
    <tr><td><b>Tuteur académique</b></td><td>{{ bulletin.formateur.get_profile.nom_complet }} / <a href="mailto:{{ bulletin.formateur.email }}">{{ bulletin.formateur.email }}</a> / {{ bulletin.formateur.get_profile.phone_number }}</td></tr>
</table>
</br>

<h1>{{ bulletin.entreprise }}</h1>
<table>
    <tr><td><b>Adresse</b></td><td>{{ bulletin.entreprise.description }}</td></tr>
    <tr><td><b>N° de téléphone</b></td><td>{{ bulletin.entreprise.telephone }}</td></tr>
    <tr><td><b>N° de fax</b></td><td>{{ bulletin.entreprise.fax }}</td></tr>
</table>

<h1>Documents attachés</h1>
<h3>Liste des documents</h3>
{% if pjs %}
<ul>
{% for pj in pjs %}
<li>
- <a href="{{ pj.fichier.url }}">{{ pj.nom_fichier }}</a> ({{ pj.description }})
</li>
{% endfor %}
</ul>
{% else %}
<p>Aucun document pour l'instant</p>
{% endif %}


{% if user.get_profile.is_administratif %}
<br>
<h3>Ajout d'un document</h3>
<form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
  <table>
  {{ form }}
  <tr><th></th><td>
    <input name="valider" type="submit" value="Valider" />
  </td></tr>
  </table>
</form>
{% endif %}

{% endblock %}
