{% extends "base.html" %}
{% block content %}
<h1>Les bulletins de {{ gr }}</h1>
<div class="table">
<ul>
{% for blt in object_list %}
  <li>
  <a href="{% url notation.views.bulletin blt.id %}">{{ blt }}</a>
   / <a href="{% url notation.views.bulletin blt.id %}?format=xls">Fichier excel</a>
  </li>
{% endfor %}
</ul>
</div>

<div class="filtre">
<h3>Filtrer par formation</h3>
<ul>
  {% for grille in grilles %}
  <li {% if grille = gr %}class="important"{% endif %}><a href="?id={{ grille.id }}">{{ grille }}</a></li>
  {% endfor %}
</ul>
</div>
{% endblock %}
