{% extends "base.html" %}
{% block content %}
<h1>Les apprentis</h1>
<div class="actions">
<a href="{% url notation.views.ajouter_eleve %}">Ajouter un apprenti</a>
</div>

<table class="table">
<thead><th>Apprenti</th><th>Formation</th><th>Bulletin</th><th>Entreprise</th></thead>
<tbody>
{% for blt in object_list %}
<tr>
  <td><a href="{% url detail_eleve blt.eleve.id %}">{{ blt.eleve.get_profile.nom_complet }}</a></td>
  <td>{{ blt.grille }}</td>
  <td><a href="{{ blt.get_absolute_url }}">Détail</a>
  <td><a href="{{ blt.entreprise.get_absolute_url }}">{{ blt.entreprise }}</a></td>
</tr>
{% endfor %}
</table>

<div class="filtre">
<h3>Filtrer par formation</h3>
<ul>
  <li><a href="?">Tout</a></li>
  {% for grille in grilles %}
  <li><a href="?grille__id__exact={{ grille.id }}">{{ grille }}</a></li>
  {% endfor %}
</ul>
</div>
{% endblock %}
