{% extends "base.html" %}
{% block content %}
{% if object %}
<h1>Détails de l'apprenti {{ object.get_full_name }}</h1>
{% else %}
<h1>Création d'un apprenti</h1>
{% endif %}
<div id="soustitre">
<a href="{% url notation.views.liste_eleve %}">retour à la liste</a>
</div>

  <form style="margin-left: 10%;" action="" method="post">{% csrf_token %}
    <table>
    {{ form.as_table }}

{% if user.get_profile.is_administratif %}
    <tr><th></th><td>
{% if blt %}
      <input type="submit" value="Enregistrer" />
      </td></tr><tr><th></th><td>
      <input type="submit" name="_reinit" value="Enregistrer et envoyer un email avec le mot de passe réinitialisé" />
{% if not profil.suppression %}
      </td></tr><tr><th></th><td>
      <input type="submit" name="_supprimer" value="Supprimer cet apprenti" />
{% endif %}
	
{% else %}
      <input type="submit" name="_continuer" value="Enregistrer et saisir un autre apprenti" />
      <input type="submit" value="Enregistrer et revenir à la liste" />
{% endif %}
    </td></tr>
{% endif %}
	
    </table>
  </form>
    
{% if blt %}
<h1>Bulletin de note</h1>
    <ul>
      <li>
      <a href="{% url notation.views.bulletin blt.id %}">{{ blt }}</a>
       / <a href="{% url notation.views.bulletin blt.id %}?format=xls">Fichier excel</a>
      </li>
    </ul>
{% endif %}
{% endblock %}
