{% extends "base.html" %}
{% block content %}

<h1>{{ ensemble }} / {{ bulletin.eleve.get_full_name }} ({{ bulletin.grille.promotion|add:annee }}-{{ bulletin.grille.promotion|add:annee|add:1 }})</h1>
<div id="soustitre">
<a href="{% url notation.views.annee_bulletin bulletin.id annee %}">retour à la liste</a>
{% if precedent %}
<a href="{% url notation.views.ensemble_bulletin bulletin.id annee precedent.id %}"> / précédent</a>
{% endif %}
{% if suivant %}
<a href="{% url notation.views.ensemble_bulletin bulletin.id annee suivant.id %}"> / suivant</a>
{% endif %}
</div>
 
  <form style="margin-left: 2%;" action="" method="post">{% csrf_token %}
    <table>
      {{ form }}

{% if user.is_administratif or user.is_tuteur %}
    <tr><th></th><td><input type="submit" value="Enregistrer et passer au groupe suivant" /></td></tr>
{% endif %}
    
    </table>
  </form>
{% endblock %}
