{% extends "base.html" %}
{% block content %}
<h1>Les entreprises</h1>
<div class="actions">
<a class="button" href="{% url ajouter_entreprise %}">Ajouter une entreprise</a>
</div>

<table>
<thead><th>Nom</th><th>Adresse</th><th>Tél</th><th>Fax</th><th>Apprenti(s)</th></thead>
<tbody>
{% for etpr in object_list %}
<tr>
  <td><a href="{% url detail_entreprise etpr.id %}">{{ etpr.nom }}</a></td>
  <td>{{ etpr.description }}</td>
  <td>{{ etpr.telephone }}</td>
  <td>{{ etpr.fax }}</td>
  <td>
    {% for blt in etpr.bulletin_set.all %}
    <div><a href="{% url detail_eleve blt.eleve.id %}">{{ blt.eleve.get_profile.nom_complet }}</a></div>
    {% endfor %}
  <tr>
</tr>
{% endfor %}
</table>

{% endblock %}
