{% extends "base.html" %}
{% block content %}

<h1>{{ grille.nom_promotion_courante }} {{ grille }}</h1>
<div id="soustitre">
<a href="{% url index_assistance %}">retour au menu assistance</a>
</div>

<table id="result_list">
<thead>
<th>Nom</th><th>Prénom</th><th>Entreprise</th><th>Note Compétence</th><th>Note Savoir être</th><th>Moyenne</th><th>Dernière modification</th>
</thead>
<tbody>
{% for blt,moyenne_cp,moyenne_sv,moyenne_gn in lignes %}
<tr>
<td><a href="{% url notation.views.annee_bulletin blt.id annee %}">{{ blt.eleve.last_name }}</a></td>
<td><a href="{% url notation.views.annee_bulletin blt.id annee %}">{{ blt.eleve.first_name }}</a></td>
<td><a href="{{ blt.entreprise.get_absolute_url }}">{{ blt.entreprise.nom }}</a></td>
<td>{{ moyenne_cp|floatformat:2 }}</td>
<td>{{ moyenne_sv|floatformat:2 }}</td>
<td>{{ moyenne_gn|floatformat:2 }}</td>
{% if blt.auteur_modification %}
<td>{{ blt.date_modification }}</td>
{% else %}
<td>-</td>
{% endif %}
</tr>
{% endfor %}
</tr>
</tbody>
</table>
{% endblock %}
