{% extends "base.html" %}
{% block content %}

<h1>{{ grille.nom_promotion_courante }} {{ grille }}</h1>
<div id="soustitre">
<a href="{% url index_assistance %}">retour au menu assistance</a>
</div>

<table id="result_list">
<thead>
<th>Nom</th><th>Prénom</th><th>Entreprise</th><th>Note Compétence</th><th>Note Savoir être</th><th>Moyenne</th><th>Item absent</th>
</thead>
<tbody>
{% for blt in bulletins %}
<tr>
<td><a href="{{ blt.get_absolute_url }}">{{ blt.eleve.last_name }}</a></td>
<td><a href="{{ blt.get_absolute_url }}">{{ blt.eleve.first_name }}</a></td>
<td><a href="{{ blt.entreprise.get_absolute_url }}">{{ blt.entreprise.nom }}</a></td>
<td>{{ blt.moyenne_cap }}</td>
<td>{{ blt.moyenne_sav }}</td>
<td>{{ blt.moyenne_generale }}</td>
</tr>
{% endfor %}
</tr>
</tbody>
</table>
{% endblock %}
